<div class="dashboard-layout">

  <aside class="sidebar" [class.open]="sidebarOpen">

    <button class="menu-btn text-white" (click)="toggleSidebar()">
      <i class="bi bi-list"></i>
    </button>

    <h4 class="logo">
      <i class="bi bi-speedometer2"></i> Manager Panel
    </h4>

    <ul class="nav flex-column mt-4">

      <li class="nav-item">
        <a routerLink="/dashboard/manager"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}"
           class="nav-link">
          <i class="bi bi-house-door"></i>
          Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/manager/tasks"
           routerLinkActive="active"
           class="nav-link">
          <i class="bi bi-receipt-cutoff"></i>
          View Tasks
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/manager/mark-attendance"
           routerLinkActive="active"
           class="nav-link">
          <i class="bi bi-calendar-check"></i>
          Mark Attendance
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/manager/team"
           routerLinkActive="active"
           class="nav-link">
          <i class="bi bi-card-checklist"></i>
          Team Attendance
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/my-employees"
           routerLinkActive="active"
           class="nav-link">
          <i class="bi bi-microsoft-teams"></i>
          Our Teams
        </a>
      </li>

    </ul>

  </aside>



  <div class="main-section">

    <nav class="navbar">

      <button class="menu-btn" (click)="toggleSidebar()">
        <i class="bi bi-list"></i>
      </button>

      <span class="fw-bold text-success fs-5">
        Welcome Manager
      </span>

      <div class="nav-right">

        <img
          *ngIf="profile()"
          [src]="'http://127.0.0.1:8000/' + profile().profile_image"
          class="profile-img"
          routerLink="/manager/profile"
        />

        <i *ngIf="!profile()" class="bi bi-person-circle fs-3"></i>

        <button class="btn btn-danger btn-sm" (click)="logout()">
          Logout
        </button>

      </div>

    </nav>


    
    <div class="content-area">

      <div class="manager-table">

        <div class="d-flex justify-content-between align-items-center mb-3">

          <h3 class="page-title mb-0">Our Tasks</h3>

            <div class="d-flex gap-2">

              <select class="form-select"
                style="width:180px"
                (change)="filterTasks($event)">

                <option value="ALL">All Tasks</option>
                <option value="PENDING">Pending</option>
                <option value="IN_PROGRESS">In Progress</option>
                <option value="COMPLETED">Completed</option>

              </select>


              <button 
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#createTaskModal">
                <i class="bi bi-plus-circle"></i> Create Task
              </button>

            </div>

        </div>

        <table class="table table-bordered table-hover">

          <thead class="table-dark text-center">
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Create Time</th>
              <th>Deadline</th>
              <th>Status</th>
              <th width="200">Actions</th>
            </tr>
          </thead>

          <tbody>

            @for(task of tasks(); track task.id){

            <tr>

              <td>{{task.title}}</td>

              <td>{{task.description}}</td>

              <td>{{formatTime(task.created_at )}}</td>

              <td>{{task.deadline}}</td>

              <td>

                @if(task.status === 'PENDING'){
                  <span class="badge bg-danger">Pending</span>
                }

                @if(task.status === 'IN_PROGRESS'){
                  <span class="badge bg-warning">In Progress</span>
                }

                @if(task.status === 'COMPLETED'){
                  <span class="badge bg-success">Completed</span>
                }

              </td>

              <td>

                <button 
                  class="btn btn-sm btn-success me-2"
                  (click)="openUpdateModal(task)">
                  <i class="bi bi-pencil-square"></i>
                  Update
                </button>

                <button
                  class="btn btn-sm btn-danger"
                  (click)="deleteTask(task.id)">
                  <i class="bi bi-trash"></i>
                  Delete
                </button>

              </td>

            </tr>

            }

          </tbody>

        </table>

        @if(tasks().length === 0){
          <div class="alert alert-info mt-3">
            No tasks found
          </div>
        }

      </div>

    </div>

  </div>

</div>




<div class="modal fade" id="createTaskModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title">
          <i class="bi bi-plus-circle"></i> Create Task
        </h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      <div class="modal-body">

        <form>

          <div class="mb-3">
            <label class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="newTask.title"
              name="title"
              required>
          </div>

          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea
              class="form-control"
              [(ngModel)]="newTask.description"
              name="description">
            </textarea>
          </div>


          <div class="mb-3">
            <label class="form-label">Deadline</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="newTask.deadline"
              name="deadline"
              required>
          </div>

        </form>

      </div>

      <div class="modal-footer">
        <button class="btn btn-secondary"
          data-bs-dismiss="modal">
          Cancel
        </button>

        <button
          class="btn btn-success"
          (click)="createTask()">
          Save Task
        </button>
      </div>

    </div>
  </div>
</div>






<div class="modal fade" id="updateTaskModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      
      <div class="modal-header">
        <h5 class="modal-title">
          <i class="bi bi-pencil-square"></i> Update Task
        </h5>
        <button class="btn-close" data-bs-dismiss="modal"></button>
      </div>

      
      <div class="modal-body">

        <form>

          
          <div class="mb-3">
            <label class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              [(ngModel)]="editTask.title"
              name="editTitle"
              required>
          </div>

          
          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea
              class="form-control"
              [(ngModel)]="editTask.description"
              name="editDescription">
            </textarea>
          </div>

          
          <div class="mb-3">
            <label class="form-label">Deadline</label>
            <input
              type="date"
              class="form-control"
              [(ngModel)]="editTask.deadline"
              name="editDeadline"
              required>
          </div>

        </form>

      </div>

      
      <div class="modal-footer">

        <button class="btn btn-secondary"
          data-bs-dismiss="modal">
          Cancel
        </button>

        <button
          class="btn btn-success"
          (click)="updateTask()">
          <i class="bi bi-check-circle"></i>
          Save Changes
        </button>

      </div>

    </div>
  </div>
</div>