<div class="dashboard-container">

  <aside class="sidebar" [class.closed]="!sidebarOpen">

    <button class="menu-btn text-white" (click)="toggleSidebar()">
      <i class="bi bi-list"></i>
    </button>

    <div class="sidebar-header">
      <h4 class="logo">
        <i class="bi bi-speedometer2 me-2"></i> HR Panel
      </h4>
    </div>

    <ul class="nav flex-column mt-4">

      <li class="nav-item">
        <a routerLink="/dashboard/hr"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{exact:true}"
           class="nav-link">
          <i class="bi bi-house-door"></i>
          Dashboard
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/auth/managers"
           routerLinkActive="active"
           class="nav-link">
          <i class="bi bi-person-plus"></i>
          Managers
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/auth/employees"
           routerLinkActive="active"
           class="nav-link">
          <i class="bi bi-person-add"></i>
          Employees
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/auth/register"
           routerLinkActive="active"
           class="nav-link">
          <i class="bi bi-people"></i>
          Profile Creation
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/auth/assign-employees"
           routerLinkActive="active"
           class="nav-link">
          <i class="bi bi-person-gear"></i>
          Team Creation
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/attendance/hr/all"
           routerLinkActive="active"
           class="nav-link">
          <i class="bi bi-receipt-cutoff"></i>
          Attendance
        </a>
      </li>

    </ul>

  </aside>


  
  <div class="main-content" [class.full]="!sidebarOpen">

    <nav class="navbar">

      <button class="menu-btn" (click)="toggleSidebar()">
        <i class="bi bi-list"></i>
      </button>

      <span class="fw-bold text-success fs-5">
        Welcome HR
      </span>

      <div class="nav-right">

        <img
          *ngIf="profile()"
          [src]="'http://127.0.0.1:8000/' + profile().profile_image"
          class="profile-img"
          routerLink="/hr/profile"
        />

        <i *ngIf="!profile()" class="bi bi-person-circle default-user"></i>

        <button class="btn btn-danger btn-sm" (click)="logout()">
          Logout
        </button>

      </div>

    </nav>


    
    <div class="content-wrapper container-fluid">

      <div class="card shadow">

        <div class="card-header bg-success text-white d-flex justify-content-between align-items-center flex-wrap gap-2">

          <div>
            <i class="bi bi-person-badge me-2"></i>
            Employee List
          </div>

          <div class="search-box">
            <input
              type="text"
              class="form-control form-control-sm"
              placeholder="Search employee..."
              (input)="onSearch($event)"
            />
          </div>

        </div>

        <div class="table-responsive">

          <table class="table table-hover align-middle mb-0">

            <thead class="table-light">
              <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th width="120">Action</th>
              </tr>
            </thead>

            <tbody>
              @for (emp of employees(); track emp.id) {
                <tr>
                  <td class="fw-semibold">{{ emp.name }}</td>
                  <td>{{ emp.email }}</td>
                  <td>{{ emp.phone }}</td>

                  <td>
                    <button
                      class="btn btn-warning text-white btn-sm me-2"
                      data-bs-toggle="modal"
                      data-bs-target="#viewEmployeeModal"
                      (click)="viewEmployee(emp)">
                      <i class="bi bi-eye"></i>
                    </button>

                    <button
                      class="btn btn-danger btn-sm"
                      (click)="deleteEmployee(emp.id)">
                      <i class="bi bi-trash"></i>
                    </button>
                  </td>
                </tr>
              }
            </tbody>

          </table>

        </div>

      </div>

    </div>

  </div>

</div>



<div class="modal fade custom-modal" id="viewEmployeeModal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="modal-header bg-success text-white">
        <h5 class="modal-title">
          <i class="bi bi-person-badge me-2"></i>
          Employee List 
        </h5>
        <button type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal">
        </button>
      </div>

      <div class="modal-body animated-modal"
           *ngIf="selectedEmployee() as employee">

        <div class="text-center mb-3">
          <img
            [src]="'http://127.0.0.1:8000/' + employee.profile_image"
            class="rounded-circle modal-profile-img"
            alt="Profile">
        </div>

        <p><strong>Name:</strong> {{ employee.name }}</p>
        <p><strong>Email:</strong> {{ employee.email }}</p>
        <p><strong>Phone:</strong> {{ employee.phone }}</p>
        <p><strong>Role:</strong> {{ employee.role }}</p>

      </div>

    </div>
  </div>
</div>